# Airbnb research
### imports

In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline

## Data investigation
### Calendar

In [96]:
dfb_cal = pd.read_csv('boston_calendar.csv')
dfb_cal.head(), df_bcal.info(), print('The minimum date is {} and the maximum date is {}'.format(dfb_cal['date'].min(), dfb_cal.date.max()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
listing_id    1308890 non-null int64
date          1308890 non-null object
available     1308890 non-null object
price         643037 non-null object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB
The minimum date is 2016-09-06 and the maximum date is 2017-09-05

(   listing_id        date available price
 0    12147973  2017-09-05         f   NaN
 1    12147973  2017-09-04         f   NaN
 2    12147973  2017-09-03         f   NaN
 3    12147973  2017-09-02         f   NaN
 4    12147973  2017-09-01         f   NaN, None, None)

In [97]:
df = dfb_cal.dropna(axis=0, how='any').copy()
df['date'] = pd.to_datetime(df['date'])
df['day_of_week'] = df['date'].dt.day_name()
df['price'] = df['price'].str.replace('$', '', regex=True).str.replace(',', '', regex=True).astype('float')
df.head(), df['price'].describe()

(     listing_id       date available  price day_of_week
 365     3075044 2017-08-22         t   65.0     Tuesday
 366     3075044 2017-08-21         t   65.0      Monday
 367     3075044 2017-08-20         t   65.0      Sunday
 368     3075044 2017-08-19         t   75.0    Saturday
 369     3075044 2017-08-18         t   75.0      Friday,
 count    643037.000000
 mean        198.438909
 std         180.142913
 min          11.000000
 25%          85.000000
 50%         150.000000
 75%         255.000000
 max        7163.000000
 Name: price, dtype: float64)

In [102]:
df.query('price >= 3000')

        listing_id       date available   price day_of_week
110179    447826.0 2016-10-26         t  7163.0   Wednesday
676742   7633883.0 2017-08-04         t  3051.0      Friday
676743   7633883.0 2017-08-03         t  3314.0    Thursday
785255  11866651.0 2017-04-18         t  3000.0     Tuesday
785256  11866651.0 2017-04-17         t  3000.0      Monday
...            ...        ...       ...     ...         ...
834745  12972378.0 2016-09-15         t  4000.0    Thursday
834747  12972378.0 2016-09-13         t  4000.0     Tuesday
834749  12972378.0 2016-09-11         t  4000.0      Sunday
834750  12972378.0 2016-09-10         t  4000.0    Saturday
834752  12972378.0 2016-09-08         t  4000.0    Thursday

[345 rows x 5 columns]

In [12]:
dfb_list = pd.read_csv('boston_listings.csv')
dfb_list.head(), dfb_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
id                                  3585 non-null int64
listing_url                         3585 non-null object
scrape_id                           3585 non-null int64
last_scraped                        3585 non-null object
name                                3585 non-null object
summary                             3442 non-null object
space                               2528 non-null object
description                         3585 non-null object
experiences_offered                 3585 non-null object
neighborhood_overview               2170 non-null object
notes                               1610 non-null object
transit                             2295 non-null object
access                              2096 non-null object
interaction                         2031 non-null object
house_rules                         2393 non-null object
thumbnail_url                       2986 non-null object
medium_url                          2986 non-null object
picture_url                         3585 non-null object
xl_picture_url                      2986 non-null object
host_id                             3585 non-null int64
host_url                            3585 non-null object
host_name                           3585 non-null object
host_since                          3585 non-null object
host_location                       3574 non-null object
host_about                          2276 non-null object
host_response_time                  3114 non-null object
host_response_rate                  3114 non-null object
host_acceptance_rate                3114 non-null object
host_is_superhost                   3585 non-null object
host_thumbnail_url                  3585 non-null object
host_picture_url                    3585 non-null object
host_neighbourhood                  3246 non-null object
host_listings_count                 3585 non-null int64
host_total_listings_count           3585 non-null int64
host_verifications                  3585 non-null object
host_has_profile_pic                3585 non-null object
host_identity_verified              3585 non-null object
street                              3585 non-null object
neighbourhood                       3042 non-null object
neighbourhood_cleansed              3585 non-null object
neighbourhood_group_cleansed        0 non-null float64
city                                3583 non-null object
state                               3585 non-null object
zipcode                             3547 non-null object
market                              3571 non-null object
smart_location                      3585 non-null object
country_code                        3585 non-null object
country                             3585 non-null object
latitude                            3585 non-null float64
longitude                           3585 non-null float64
is_location_exact                   3585 non-null object
property_type                       3582 non-null object
room_type                           3585 non-null object
accommodates                        3585 non-null int64
bathrooms                           3571 non-null float64
bedrooms                            3575 non-null float64
beds                                3576 non-null float64
bed_type                            3585 non-null object
amenities                           3585 non-null object
square_feet                         56 non-null float64
price                               3585 non-null object
weekly_price                        892 non-null object
monthly_price                       888 non-null object
security_deposit                    1342 non-null object
cleaning_fee                        2478 non-null object
guests_included                     3585 non-null int64
extra_people                        3585 non-null object
minimum_nights                      3585 non-null int64
maximum_nights                      3585 non-null int64
calendar_updated                    3585 non-null object
has_availability                    0 non-null float64
availability_30                     3585 non-null int64
availability_60                     3585 non-null int64
availability_90                     3585 non-null int64
availability_365                    3585 non-null int64
calendar_last_scraped               3585 non-null object
number_of_reviews                   3585 non-null int64
first_review                        2829 non-null object
last_review                         2829 non-null object
review_scores_rating                2772 non-null float64
review_scores_accuracy              2762 non-null float64
review_scores_cleanliness           2767 non-null float64
review_scores_checkin               2765 non-null float64
review_scores_communication         2767 non-null float64
review_scores_location              2763 non-null float64
review_scores_value                 2764 non-null float64
requires_license                    3585 non-null object
license                             0 non-null float64
jurisdiction_names                  0 non-null float64
instant_bookable                    3585 non-null object
cancellation_policy                 3585 non-null object
require_guest_profile_picture       3585 non-null object
require_guest_phone_verification    3585 non-null object
calculated_host_listings_count      3585 non-null int64
reviews_per_month                   2829 non-null float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB

(         id                            listing_url       scrape_id  \
 0  12147973  https://www.airbnb.com/rooms/12147973  20160906204935
 1   3075044   https://www.airbnb.com/rooms/3075044  20160906204935
 2      6976      https://www.airbnb.com/rooms/6976  20160906204935
 3   1436513   https://www.airbnb.com/rooms/1436513  20160906204935
 4   7651065   https://www.airbnb.com/rooms/7651065  20160906204935

   last_scraped                                           name  \
 0   2016-09-07                     Sunny Bungalow in the City
 1   2016-09-07              Charming room in pet friendly apt
 2   2016-09-07               Mexican Folk Art Haven in Boston
 3   2016-09-07  Spacious Sunny Bedroom Suite in Historic Home
 4   2016-09-07                            Come Home to Boston

                                              summary  \
 0  Cozy, sunny, family home.  Master bedroom high...
 1  Charming and quiet room in a second floor 1910...
 2  Come stay with a friendly, middle-aged guy in ...
 3  Come experience the comforts of home away from...
 4  My comfy, clean and relaxing home is one block...

                                                space  \
 0  The house has an open and cozy feel at the sam...
 1  Small but cozy and quite room with a full size...
 2  Come stay with a friendly, middle-aged guy in ...
 3  Most places you find in Boston are small howev...
 4  Clean, attractive, private room, one block fro...

                                          description experiences_offered  \
 0  Cozy, sunny, family home.  Master bedroom high...                none
 1  Charming and quiet room in a second floor 1910...                none
 2  Come stay with a friendly, middle-aged guy in ...                none
 3  Come experience the comforts of home away from...                none
 4  My comfy, clean and relaxing home is one block...                none

                                neighborhood_overview  ... review_scores_value  \
 0  Roslindale is quiet, convenient and friendly. ...  ...                 NaN
 1  The room is in Roslindale, a diverse and prima...  ...                 9.0
 2  The LOCATION: Roslindale is a safe and diverse...  ...                10.0
 3  Roslindale is a lovely little neighborhood loc...  ...                10.0
 4  I love the proximity to downtown, the neighbor...  ...                10.0

   requires_license license jurisdiction_names instant_bookable  \
 0                f     NaN                NaN                f
 1                f     NaN                NaN                t
 2                f     NaN                NaN                f
 3                f     NaN                NaN                f
 4                f     NaN                NaN                f

   cancellation_policy require_guest_profile_picture  \
 0            moderate                             f
 1            moderate                             f
 2            moderate                             t
 3            moderate                             f
 4            flexible                             f

   require_guest_phone_verification calculated_host_listings_count  \
 0                                f                              1
 1                                f                              1
 2                                f                              1
 3                                f                              1
 4                                f                              1

    reviews_per_month
 0                NaN
 1               1.30
 2               0.47
 3               1.00
 4               2.25

 [5 rows x 95 columns], None)

In [14]:
dfb_reviews = pd.read_csv('boston_reviews.csv')
dfb_reviews.head(), dfb_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68275 entries, 0 to 68274
Data columns (total 6 columns):
listing_id       68275 non-null int64
id               68275 non-null int64
date             68275 non-null object
reviewer_id      68275 non-null int64
reviewer_name    68275 non-null object
comments         68222 non-null object
dtypes: int64(3), object(3)
memory usage: 3.1+ MB

(   listing_id       id        date  reviewer_id reviewer_name  \
 0     1178162  4724140  2013-05-21      4298113       Olivier
 1     1178162  4869189  2013-05-29      6452964     Charlotte
 2     1178162  5003196  2013-06-06      6449554     Sebastian
 3     1178162  5150351  2013-06-15      2215611        Marine
 4     1178162  5171140  2013-06-16      6848427        Andrew

                                             comments
 0  My stay at islam's place was really cool! Good...
 1  Great location for both airport and city - gre...
 2  We really enjoyed our stay at Islams house. Fr...
 3  The room was nice and clean and so were the co...
 4  Great location. Just 5 mins walk from the Airp...  , None)